.container{
    width: 220px;
    background: lightgray;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(4, 50px);
    grid-template-rows:repeat(6, 50px);
    grid-gap:5px;

    .button1{
        grid-row:1/1;
        grid-column:1/6;
        background-color: black;
        text-align: right;
        color: white;
        font-size: 30px;
        padding: 5px;
    }
    
    .button6{
        grid-row:3/4;
        grid-column:3/4;
    }

    .button7{
        grid-row:3/4;
        grid-column:2/3;
    }

    .button8{
        grid-row:3/4;
        grid-column:1/2;
    }

    .button9{
        grid-row:4/5;
        grid-column:3/4;
    }

    .button10{
        grid-row:4/5;
        grid-column:2/3;
    }

    .button11{
        grid-row:4/5;
        grid-column:1/2;
    }

    .button12{
        grid-row:5/6;
        grid-column:3/4;
    }

    .button13{
        grid-row:5/6;
        grid-column:2/3;
    }

    .button14{
        grid-row:5/6;
        grid-column:1/2;
    }

    .button15{
        grid-row:6/7;
        grid-column:2/3;
    }

    .button16{
        grid-row:6/7;
        grid-column:1/2;
    }

    .button17{
        grid-row:6/7;
        grid-column:3/4;
        background-color: red;
        text-align: center;
        padding-top: 12px;
        font-weight: bold;
    }

    .button18{
        grid-row:3/7;
        grid-column:4/5;
        background-color: royalblue;
        text-align: center;
        font-size: 29px;
        font-weight: bold;
        padding-top: 60px;
    }

    .button{
        border: 3px solid black;
        border-radius: 15px;
        text-align: center;
        padding-top: 10px;
    }
}